{% extends "admin/index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'export/admin_styles.css' %}" />{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
{% for app in app_list %}
{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}
{% endfor %}
</div>
{% endblock %}
{% endif %}

{% block content_title %}<h1>Manage Sierra Exports</h1>{% endblock %}

{% block content %}
<div id="content-main">

<h2>Manage Types of Exports</h2>
<ul id="manage-export-types" class="sierra-export-actions">
    <li><a href="{% url 'admin:export_exporttype_changelist' %}">View, Edit, and Add Export Types</a></li>
    <li><a href="{% url 'admin:export_exportfilter_changelist' %}">View, Edit, and Add Export Filters</a></li>
    <li><a href="{% url 'admin:export_status_changelist' %}">View, Edit, and Add Statuses</a></li>
</ul>

<h2>Manage Export Jobs</h2>
<ul id="manage-exports" class="sierra-export-actions">
    <li><a href="{% url 'admin:export_exportinstance_changelist' %}">View In-Progress or Completed Exports</a></li>
    <li><a href="{% url 'admin:djcelery_periodictask_changelist' %}">View Scheduled Exports</a></li>
    <li><a href="{% url 'admin:export_exportinstance_add' %}">Trigger New Export</a></li>
</ul>

</div>
{% endblock %}

{% block sidebar %}{% endblock %}
