*.pyc
*.log
*.log.*
*.iml
*.env

secrets.json
settings.json
production_config.properties
dump.rdb
appendonly.aof
celerybeat-schedule
django_sierra
django_sierra_test
.cache/
.pytest_cache/

/pids.txt
/django/sierra/media/*
/django/sierra/docs/_build
/solr/instances/logs/*
/solr/instances/solr/*/data
/docker_data/